

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left:20%; */
  background-image: url('./images/bigtali.png');
  background-image: url(https://static.toiimg.com/thumb/64699039.cms?width=1200&height=900);
  /* background-image: url(https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29va2Jvb2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80); 
   background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);*/
  background-repeat: no-repeat;
  background-size: auto ;
  background-position: center;
  /* width: 80%; */
  height: 700px;
}

.head{
   color: black;
    text-align: center;
    width: 70%;
    font-size: 2.5em;
    /* text-shadow: black 1px 0 10px; */
}

.content-div{
  margin-left: 20%;
  margin-right:20%;
  line-height: 25px;
  padding-top:20px;
  padding-bottom: 20px;

}

.content-section{
  background-color: darkolivegreen;
  
}
.content-div p{
  margin-left: 60px;
}


